<div class="container-fluid">
  
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8 d-flex justify-content-center align-items-center mb-3 mt-4">
      <a href="#" class="btn btn-primary btn-explore my-4 me-2" routerLink="/profilePage"> Mon profil</a>
      <a href="#" class="btn btn-secondary btn-create my-2" routerLink="/personalEvenement"> Mes évènements</a>
    
    </div>
  </div>


  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <app-profile-header></app-profile-header>
      <app-profile-info-form></app-profile-info-form>
    </div>
  </div>
</div>
