<div class="gradient-header">
    <header
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 border-bottom border-white">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-white text-decoration-none">
            <img src="assets/images/orkestreLogo.png" alt="Orkestre Logo" class="logo ms-3"
                style="height: 100px;">
        </a>

        <div class="col-md-3 text-end">
            <button type="button" class="btn btn-outline-light me-4" routerLink="/Login">Connexion</button>
            <button type="button" class="btn btn-light text-dark me-4" routerLink="/SignIn">Inscription</button>
        </div>
    </header>
</div>