<div class="gradient-header">
    <header
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 border-bottom border-white">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-white text-decoration-none">
            <img src="assets/images/orkestre.png" alt="Orkestre Logo" class="logo ms-3"
                style="width: 80px; height: 80px;">
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a class="nav-link px-2 text-white" routerLink="/">Acceuil</a></li>
            <li><a class="nav-link px-2 text-white" routerLink="/ShowAllEvenements">Événements</a></li>
            <li><a class="nav-link px-2 text-white" routerLink="/CreateEvenement">Créer un événement</a></li>
            <li><a class="nav-link px-2 text-white" routerLink="/AddTrip">À propos</a></li>
        </ul>

        <div class="col-md-3 text-end">
            <button type="button" class="btn btn-outline-light me-4">Connexion</button>
            <button type="button" class="btn btn-light text-dark me-4">Inscription</button>
        </div>
    </header>
</div>