<div class="container">
    <div class="row justify-content-center my-5">
        <div class="col-md-4"> <!-- largeur réduite ici -->
            <form class="text-center p-4 border rounded bg-white shadow-sm">
                <h1 class="h3 mb-4">Se connecter</h1>

                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Mot de passe</label>
                </div>

                <button class="btn btn-primary btn-create w-100 text-white" type="submit">Connexion</button>
                <p class="mt-4 mb-3 text-muted small">&copy; 2025 Orkestre</p>
            </form>
        </div>
    </div>
</div>

