<div class="container my-4 mt-6">
  <form class="row g-3 justify-content-center align-items-end">

    <!-- Date -->
    <div class="col-md-2">
      <label for="date" class="form-label">Date</label>
      <input type="date" class="form-control" id="date" placeholder="Choisir une date" [(ngModel)]="filters.date" name="date">
    </div>

    <!-- Max price-->
    <div class="col-md-2">
      <label for="price" class="form-label">Prix maximum (€)</label>
      <input type="number" class="form-control" id="price" placeholder="Prix max" [(ngModel)]="filters.priceMax" name="maxPrice">
    </div>

    <!-- Category -->
    <div class="col-md-3">
      <label for="categorie" class="form-label">Catégorie</label>
      <select class="form-select" [(ngModel)]="filters.category" name="category" id="category">
        <option selected>Sélectionner une catégorie</option>
        <option value="concert">concert</option>
        <option value="conference">conférence</option>
        <option value="sport">sport</option>
        <option value="culture">culture</option>
        <option value="culinary">cuisine</option>
      </select>
    </div>

    <!-- Search -->
    <div class="col-md-3 d-grid">
      <button type="submit" (click)="applyFilters()" class="btn btn-search text-white" >
        <i class="bi bi-search"></i> Rechercher
      </button>
    </div>

  </form>
</div>